# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
dist/
build/
.venv/
venv/
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage/Reports
.coverage
htmlcov/
coverage/

# Misc
*.log
